body {
    background: #374A67;
    color: #374A67;
    font: normal 15pt Arial;
}

header {
    color: #E7F0FF;
    text-align: center;
}

section {
    background: #E7F0FF;
    color: #374A67;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    text-align: center;
}

footer {
    color: #E7F0FF;
    text-align: center;
    font-style: italic;
}